<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Berners-Lee</h1>
    <h2>Timothy "Tim" John Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la
         World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP 
         en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web con sede en el MIT, 
         para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y 
         que permiten el funcionamiento de Internet.</h2>
    <body background="/img/imagen-fondo.jpg" >
    <img src="/img/berners-lee.jpg" alt="berners-lee">
</body>
</html>